@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
  /* color: #fff; */
  padding: 150px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
}

.section-slider {
  max-width: 1056px;
  height: 500px;
  margin: 0 auto;
  
}

.swiper-container {
  display: flex;
  gap: 30px;
  
  
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  width: 868px;
  height: 502px;
  
}

.mySwiper {
  position: relative;
  height: 502px;
  
  
  
}

.mySwiper .swiper-slide {
  position: relative;
  width: 162px;
  height: 96px;
  z-index: 1;
  margin-bottom: 10px;

}

.mySwiper .swiper-slide::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  z-index: 3;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  position: relative;
  
}

.mySwiper .swiper-slide-thumb-active::after {
  position: absolute;
  content: '';
  opacity: 1;
  z-index: 4;
  background-color: transparent;
}
    

    

    .swiper-button-prev,
    .swiper-button-next {
      
    }



    .swiper-button-prev {
      position: absolute;
      top: 0px;
      left: 65px;
      transform: rotate(90deg);
    }

    .swiper-button-next {
      position: absolute;
      bottom: 100px;
      left: 65px;
      transform: rotate(90deg);
    }