

/*-------- Main CSS --------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
}

/*------- Sliders ------------*/

.section-slider {
  max-width: 1056px;
  padding: 60px 20px 20px;
  margin: 0 auto;
  
}

.swiper-container {
  display: flex;
  max-height: 502px;
  gap: 30px;
  min-width: 0;
  
  
}

.swiper-slide {
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------- Slider 1 --------- */

.mySwiper2 .swiper-wrapper {
  width: 868px;
  height: 100%;
  
}

/* --------- Slider 2 --------- */

.mySwiper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 428px;
  min-width: 0;
  
}

.mySwiper .swiper-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 358px;
  
}

.mySwiper .swiper-slide {
  position: relative;
  width: 160px;
  height: 92px !important;
  z-index: 1;
  margin-bottom: 18px;
  
}

.mySwiper .swiper-slide:first-of-type {
  margin-top: 80px;
}

.mySwiper .swiper-slide::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  z-index: 3;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  position: relative;
  
}

.mySwiper .swiper-slide-thumb-active::after {
  position: absolute;
  content: '';
  opacity: 1;
  z-index: 4;
  background-color: transparent;
  border: 2px solid #2D69F1;
}
    
.mySwiper .swiper-slide .slide-thumb {
  display: block;
  height: 92px !important;
  flex-shrink: 1;
}
    

/* -------- Slider Navigation ------- */

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      margin: 0 auto;
      color: #202A54;
    }



    .swiper-button-prev {
      top: -10px;
      left: 0;
      right: 0;
      transform: rotate(90deg);
      
    }

    .swiper-button-next {
      top: 0px;
      left: 0;
      right: 0;
      transform: rotate(90deg);
      
    }

/*------- Slider pagination ------*/

.swiper-pagination {
  display: none;
  position: static;
  max-width: 100%;
}

span .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  
}

span.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #2D69F1;
}



/*------- Media Quaries ----------*/
@media screen and (max-width:768px) {

.swiper-container {
  gap: 0;
  height: calc(80% - 100px);
}

.mySwiper .swiper-wrapper {
  display: none;
  
}

.swiper-slide img {
  object-fit: cover;
}

.swiper-pagination {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 15px;
}

.swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

span .swiper-pagination-bullet {
 flex-shrink: 1;
  
}

}

@media screen and (max-width:600px) {

.swiper-container {
  
  max-height: 302px;
}
}

@media screen and (max-width:500px) {

.swiper-container {
  
  max-height: 252px;
}
}

@media screen and (max-width:390px) {

.swiper-container {
  height: 202px;
  
}
}

